<div class="container">
	<div class="row">
		<div class="main col-md-12">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="sifxtreme" data-count="none" data-hashtags="madpad">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<h1>Mad Pad</h1>
			<div class="info">
				<p>Don't want to sign into Gmail or Facebook or whatever to send yourself some text?</p>
				<p>Then use MadPad! Create your own text pad to drop some text that you can easily access from anywhere</p>
				<p>For example go to <a href="http://madpad.me/YOUR_NAME">madpad.me/YOUR_NAME</a> to create or edit a snippet.</p>
				<p>Or if you want a random short URL that you can remember go to <a href="http://madpad.me/{{random}}">madpad.me/{{random}}</a></p>
			</div>
		</div>
	</div>
</div>